@model Rarin_Technologies_API.Entities.Voucher

    <html>

    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <style>
            body {
                font-family: Arial;
            }

            .col-8 {
                margin: auto;
            }

            table {
                margin: auto;
                background-color: #458ace;
                text-align: left;
                border-collapse: collapse;
                width: 80%;
            }


            th, td {
                padding: 20px;
            }

            thead {
                background-color: #808080;
                border-bottom: solid 5px #0F362D;
                color: white;
            }

            tr:nth-child(even) {
                background-color: #ddd;
            }


            tr:hover td {
                background-color: #369681;
                color: white;
            }
        </style>

    </head>

    <body>
        <div class="col-8 row">

            <div class="col-8 text-center">Reporte de Factura</div>
        </div>
        <div>

            <table>
                <div>

                    <tr>
                        <th>  <span>Producto:</span></th>
                        <th> <span>Cantidad:</span></th>
                        <th> <span>Precio:</span></th>
                    </tr>

                </div>
                @foreach (var item in Model.Items)
                {


                    <div>
                        <tr>
                            <td> <span class="car-name">@item.Product.Name</span></td>
                            <td> <span class="car-name">@item.Cant</span></td>
                            <td> <span class="car-name">$@item.Product.Price</span></td>
                        </tr>
                    </div>

                    <br />
                }
            </table>
            <div> <strong> <span>Id :</span></strong></div>
            <span class="car-name">@Model.Client.Person.IdPerson</span>

            <div> <strong><span>Cliente :</span></strong></div>
            <span class="car-name">@Model.Client.Person.Name</span>
            
            <div> <strong><span>Fecha :</span></strong></div>
            <span class="car-name">@Model.CreatedAt.ToString("MM/dd/yyyy HH:mm:ss")</span>

            <div> <strong><span>Detalle:</span> </strong></div>
            <span class="car-registration">@Model.Detail</span>
            <br />
</body>

</html>

